* {
  scroll-behavior: auto;
}

.gameBlock {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 5px;
  margin: 5px 0;
  background-color: rgb(25, 27, 31);
  border-radius: 10px;
  position: relative;
  color: white;
  transition: all 0.5s ease 0s
}

.gameBlock:hover {
  background-color: white;
  color: rgb(25, 27, 31);
}

.thumbnail {
  border-radius: 10px;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 17px;
  padding: 8px 0;
}

.gameInfo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3px;
}

@media (max-width: 800px) {
  .gameBlock {
    width: 35%;
  }
}

@media (max-width: 500px) {
  .gameBlock {
    width: 90%;
  }
}