@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.header {
  background-color: rgb(25, 27, 31);
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  font-size: 25px;
  position: fixed;
  width: 100%;
  height: 70px;
  box-shadow: 0px 15px 18px -5px rgba(34, 60, 80, 0.69);
}

@media (max-width:500px) {
  .header {
    font-size: 18px;
    padding: 15px;
  }

  .homeButton {
    top: 15px;
    left: 10px;
    width: 25px;
    height: 25px;
  }
}